@{
    ViewData["Title"] = "Home Page";
}


<style>
    body{
        background-image: url('/BackgroundImage/HomeImage.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h3 class="display-5" style="background-color: mediumslateblue; color: wheat">Saytga tashrifingizdan mamnunmiz!</h3>
    <p>Ushbu sayt orqali sizga haydovchilik guvohnamasini olish uchun bo'ladigan imtihonga tayyorlanishingizga komaklashamiz</p>
</div>

