@model User

<h1>Tickets</h1>

@{
    for (int i = 0; i < (int)ViewBag.Tickets; i++)
    {
        <ul>
            <li> <a asp-controller="Question" asp-action="GetQuestionById"
                asp-route-id="@(i * 10 + 1)" asp-route-ticketIndex="@i" >Tickets @(i + 1) @Model.CorrectAnswers[i].Count / 10</a>
            </li> 
        </ul>
    }
}

