@model CreateUser

@*
<h1>Sign Up</h1>

<form class="row g-3" style="width: 400px" asp-controller="Users" asp-action="SignUp" method="post" enctype="multipart/form-data">
    <div>
        <input name="Photo" class="form-control" type="file" placeholder="Photo" />
        <span asp-validation-for="Photo"></span>
    </div>
    <div>
        <input name="Name" class="form-control" asp-for="Name" type="text" placeholder="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input name="Username" class="form-control" asp-for="Username" type="text" placeholder="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <input name="Password" class="form-control" asp-for="Password" type="text" placeholder="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button class="form-control"  type="submit">Sign Up</button>
    <a class="link-info" asp-controller="Users" asp-action="SignIn">Sign In</a>

</form>
*@


<html>
<head>
	<title>Creative Colorlib SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Creative SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form asp-action="SignUp" method="post" enctype="multipart/form-data">
					<div>
						<input name="Photo" class="form-control" type="file" placeholder="Photo" />
						<span asp-validation-for="Photo"></span>
					</div>

					<br />
					<input class="text w3lpass" type="text" name="Username" asp-for="Username" placeholder="Username" required="">
					<span asp-validation-for="Username"></span>

					<input class="text w3lpass" type="text" name="Name" asp-for="Name" placeholder="Name" required="">
					<span asp-validation-for="Name"></span>
					
					<input class="text w3lpass" type="password" name="Password" asp-for="Password" placeholder="Password" required="">
					<span asp-validation-for="Password"></span>

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>Pora bermaslikka roziman!</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">

					<a class="link-info" asp-controller="Users" asp-action="SignIn">Sign In</a>
				</form>
			</div>
		</div>
		
	</div>
	<!-- //main -->
</body>
</html>


